h2{
    text-align: center;
    color: darkred;
}

.spacer {
    flex: 1 1 auto;
}

input{
    max-width: 33%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }